@using VTP2015.Helpers
@{
    ViewBag.Title = "Student - home";
}
<div class="container-fix">
  <br />
</div>

<div class="container">
    <div class="row">
        
        <div class="col-md-10">
            <ul class="list-inline">
                <li class="">Aanvraagformulier</li>
                <li class=""><a href="#" id="navStap1">Opleidingen</a></li>
                <li class="hide"><a href="#" id="navStap2">Bewijzen</a></li>
                <li class="hide"><a href="#" id="navStap3">Dossier</a></li>
            </ul>
            <div id="stap1">
                @using (Html.BeginPanel("Vorige opleidingen die u hebt gevolgd:"))
            {
                    @Html.Action("EducationListWidget")
                    @Html.Action("AddEducationWidget")
                }
                <button id="buttonStap1" type="button" class="btn btn-primary" style="float:right">Volgende stap</button>
            </div>
           
            <div id="stap2" class="hide">
                @using (Html.BeginPanel("Dien hier uw bewijzen in (bijvoorbeeld een rapport):"))
            {
                    @Html.Action("EvidenceListWidget")
                    @Html.Action("AddFileWidget")
                }
                <button id="buttonStap2" type="button" class="btn btn-primary" style="float:right">Volgende stap</button>
            </div>
            
            <div id="stap3" class="hide">
                <div data-url="@Url.Action("SubmitFile","Student")">
                    @Html.Action("FileWidget")
                </div>
            </div>
           
        </div>
        <div class="col-md-2">
           @Html.Action("InfoWidget")
        </div>
    </div>
</div>


@*<div class="container-fix">
    <div id="infoSide" class="col-md-6" data-url="@Url.Action("SubmitFile","Student")">
        @Html.Action("InfoWidget")
        @Html.Action("FileWidget")
        @Html.Action("AddFeedbackWidget", "Feedback")
    </div>
    <div id="bewijzenColumn" class="col-md-6">
        @using (Html.BeginPanel("Vorige opleidingen"))
        {
            @Html.Action("EducationListWidget")
            @Html.Action("AddEducationWidget")
        }
        @using (Html.BeginPanel("Bewijzen"))
        {
            @Html.Action("EvidenceListWidget")
            @Html.Action("AddFileWidget")
        }
    </div>
</div>*@

@Scripts.Render("~/bundles/student")

<script type="text/javascript">
    
    //buttons
    $("#buttonStap1").click(function () {
        toonStap(2);
        $("#navStap2").parent().removeClass('hide');
    });
    $("#buttonStap2").click(function () {
        toonStap(3);
        $("#navStap3").parent().removeClass('hide');
    });

    //nav bars
    $("#navStap1").click(function (e) {
        e.preventDefault();
        toonStap(1);
    });

    $("#navStap2").click(function (e) {
        e.preventDefault();
        toonStap(2);
    });

    $("#navStap3").click(function (e) {
        e.preventDefault();
        toonStap(3);
    });

    var toonStap = function (nr) {
        console.log(nr);
        VerbergAllStappen(3);
        $("#stap" + nr).removeClass('hide');
    }

    var VerbergAllStappen = function (AantalStappen) {
        for (var i = 0; i <= AantalStappen; i++)
        {
            $("#stap" + i).addClass('hide');
        }
    }

</script>